<div>
  <section
    id="home"
    class="flex justify-center flex-col pt-24 pb-8 md:pt-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
  >
    <h1 class="text-5xl justify-center flex mb-6">Hi, I'm Samuel</h1>
    <p class="text-lg justify-center flex mb-2">
      I'm a Full-stack developer with 1+ years of experience with the most
      active technologies.
    </p>
    <app-experience class="mb-6" id="experience" />
    <app-cards class="mb-6" id="projects" />
    <div class="flex lg:flex-row flex-col items-center justify-center lg:gap-x-10">
      <app-stack class="mb-6" id="stack" />
      <a class=""></a>
      <app-contact class="mb-6" id="contact" />
    </div>
  </section>
</div>
