<div
  class="drawer fixed z-50 navbar shadow-lg backdrop-blur-lg md:flex md:justify-center max-md:p-0"
>
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <div class="w-full navbar p-0">
      <div class="flex-none md:hidden">
        <label
          for="my-drawer-3"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <app-theme-button
        class="hover:bg-inherit focus:bg-inherit absolute right-0 pr-2 md:hidden"
      />
      <div class="hidden md:block">
        <ul class="menu menu-horizontal">
          @for (option of options; track $index) {
          <li class="flex justify-center">
            <a
              id="{{ option.link }}-button"
              (click)="scrollToElement(option.link)"
              class="nav-menu link--elara hover:bg-inherit focus:bg-inherit"
              >{{ option.title }}</a
            >
          </li>
          }
          <li htmlFor="theme-button">
            <app-theme-button class="hover:bg-inherit focus:bg-inherit" />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-3"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu pt-16 w-fit min-h-full bg-base-100 opacity-85">
      @for (option of options; track $index) {
      <li class="flex justify-center">
        <a
          id="{{ option.link }}-button"
          (click)="scrollToElement(option.link)"
          class="nav-menu link--elara hover:bg-inherit focus:bg-inherit"
          >{{ option.title }}</a
        >
      </li>
      }
    </ul>
  </div>
</div>
