<nav class="navbar mb-4 shadow-lg">
  <div class="flex-1">
    <a class="text-3xl hover:bg-inherit focus:bg-inherit px-1">Samuel Gomez</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      @for (option of options; track $index) {
      <li class="flex justify-center">
        <a class="nav-menu link--elara hover:bg-inherit focus:bg-inherit">{{
          option.title
        }}</a>
      </li>
      }
      <li>
        <app-theme-button class="hover:bg-inherit focus:bg-inherit"/>
      </li>
    </ul>
  </div>
</nav>
