<div class="flex flex-col mb-6">
  <h2
    class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-primary"
  >
    <svg
      width="28"
      height="28"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 24 24"
    >
      <g
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <rect x="3" y="7" width="18" height="13" rx="2"></rect>
        <path d="M8 7V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
        <path d="M12 12v.01"></path>
        <path d="M3 13a20 20 0 0 0 18 0"></path>
      </g>
    </svg>
    Experience
  </h2>
  @defer () {
  <section class="experiences">
    <article
      class="h-fit p-4 ease hover:scale-105 duration-200 transition group"
    >
      <span
        class="ease absolute left-0 top-0 h-0 w-0 border-t-2 rounded-t-full border-primary transition-all duration-200 group-hover:w-full"
      ></span>
      <span
        class="ease absolute right-0 top-0 h-0 w-0 border-r-2 border-primary transition-all duration-200 group-hover:h-full"
      ></span>
      <span
        class="ease absolute bottom-0 right-0 h-0 w-0 border-b-2 border-primary transition-all duration-200 group-hover:w-full"
      ></span>
      <span
        class="ease absolute bottom-0 left-0 h-0 w-0 border-l-2 border-primary transition-all duration-200 group-hover:h-full"
      ></span>
      <div class="flex flex-row max-sm:flex-col justify-between items-center">
        <div class="flex-row flex items-center gap-2">
          <img
            src="assets/intellisys_logo.webp"
            alt="Intellisys Logo"
            class="h-14"
          />
          <h3 class="text-xl font-medium">Intellisys D. Corp.</h3>
        </div>
        <div class="items-center sm:pt-2">
          <p class="text-lg font-semibold">Full-stack Developer</p>
          <p>June 2022 - Today</p>
        </div>
      </div>
      <ul class="pt-5 lg:ps-3 ps-0 list-none lg:list-disc">
        <li>
          <p>
            Develop <b>high-quality</b>, responsive, and
            <b>user-friendly</b> web applications.
          </p>
        </li>
        <li>
          <p>Write <b>reusable</b> libraries and components for future use.</p>
        </li>
        <li>
          <p><b>Optimize</b> applications performance, size and scalability.</p>
        </li>
        <li><p>Develop administration web apps (cms, dashboard, etc).</p></li>
        <li>
          <p>Build <b>customer-facing</b> web and mobile apps.</p>
        </li>
        <li>
          <p>
            Review the code of new employees and <b>help</b> them with their
            onboarding process.
          </p>
        </li>
        <li>
          <p>
            Help <b>Backend team</b> adding new enpoints, features and missing
            types.
          </p>
        </li>
        <li>
          <p>
            <b>Migrate</b> projects from JavaScript to TypeScript and from React
            to NextJS.
          </p>
        </li>
      </ul>
    </article>
  </section>
  } @placeholder {
  <div role="status" class="max-w-sm animate-pulse">
    <div class="h-2.5 w-48 mb-4 bg-base-content rounded-full"></div>
    <div class="h-2 max-w-[360px] mb-2.5 bg-base-content rounded-full"></div>
    <div class="h-2 mb-2.5 bg-base-content rounded-full"></div>
    <div class="h-2 max-w-[330px] mb-2.5 bg-base-content rounded-full"></div>
    <div class="h-2 max-w-[300px] mb-2.5 bg-base-content rounded-full"></div>
    <div class="h-2 max-w-[360px] bg-base-content rounded-full"></div>
    <span class="sr-only">Loading...</span>
  </div>
  }
</div>
