<div class="flex flex-col mb-6">
  <h2
    class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-primary"
  >
    <svg
      width="28"
      height="28"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 24 24"
    >
      <g
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <rect x="3" y="7" width="18" height="13" rx="2"></rect>
        <path d="M8 7V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
        <path d="M12 12v.01"></path>
        <path d="M3 13a20 20 0 0 0 18 0"></path>
      </g>
    </svg>
    Experience
  </h2>
  @defer () {
  <section class="experiences">
    <!-- Intellisys -->
    <article
      class="h-fit p-4 ease hover:scale-105 duration-200 transition group"
    >
      <span
        class="ease absolute left-0 top-0 h-0 w-0 border-t-2 rounded-t-full border-primary transition-all duration-200 group-hover:w-full"
      ></span>
      <span
        class="ease absolute right-0 top-0 h-0 w-0 border-r-2 border-primary transition-all duration-200 group-hover:h-full"
      ></span>
      <span
        class="ease absolute bottom-0 right-0 h-0 w-0 border-b-2 border-primary transition-all duration-200 group-hover:w-full"
      ></span>
      <span
        class="ease absolute bottom-0 left-0 h-0 w-0 border-l-2 border-primary transition-all duration-200 group-hover:h-full"
      ></span>
      <div class="flex flex-row max-sm:flex-col justify-between items-center">
        <div class="flex-row flex items-center gap-2">
          <img
            src="assets/intellisys_logo.webp"
            alt="Intellisys Logo"
            class="h-14"
          />
          <h3 class="text-xl font-medium">Intellisys D. Corp.</h3>
        </div>
        <div class="items-center sm:pt-2">
          <p class="text-lg font-semibold">Full Stack Developer</p>
          <p>Jun 2022 – Today</p>
        </div>
      </div>
      <ul class="pt-5 lg:ps-3 ps-0 list-none lg:list-disc">
        <li>
          <p>
            <b>Reduced</b> unnecessary logic by applying best practices to
            handle request-based variations, achieving a <b>30%</b> decrease in
            API calls.
          </p>
        </li>
        <li>
          <p>
            <b>Integrated</b> multiple authentication providers into a
            <b>React Native</b> app, crafted <b>user-friendly</b> interfaces,
            and implemented notification services via <b>Firebase</b>.
          </p>
        </li>
        <li>
          <p>
            Designed and implemented the <b>frontend layout</b>, application
            structure, and <b>authentication flow</b> for a web project from the
            ground up.
          </p>
        </li>
        <li>
          <p>
            Built and maintained a <b>REST API backend</b> using <b>Nest.js</b>,
            employing the repository pattern to ensure scalability and code
            reusability.
          </p>
        </li>
        <li>
          <p>
            Designed and deployed a <b>PostgreSQL</b> database from scratch,
            optimized to handle <b>complex queries</b> and
            <b>large-scale datasets</b>.
          </p>
        </li>
        <li>
          <p>
            Implemented <b>Google Identity Platform</b> with support for
            <b>Google Provider</b> and <b>Credential-based</b> authentication in
            a frontend web app.
          </p>
        </li>
        <li>
          <p>
            <b>Dockerized</b> multiple backend services and databases to
            streamline development, testing, and deployment workflows.
          </p>
        </li>
        <li>
          <p>
            Integrated an <b>Express.js</b> backend with a <b>Strapi CMS</b>,
            both connected to a unified PostgreSQL database, aligning models in
            Express with <b>Strapi's auto-generated schema</b> for seamless data
            consistency.
          </p>
        </li>
      </ul>
    </article>

    <!-- KT-Pillar Tech -->
    <article
      class="h-fit p-4 ease hover:scale-105 duration-200 transition group"
    >
      <span
        class="ease absolute left-0 top-0 h-0 w-0 border-t-2 rounded-t-full border-primary transition-all duration-200 group-hover:w-full"
      ></span>
      <span
        class="ease absolute right-0 top-0 h-0 w-0 border-r-2 border-primary transition-all duration-200 group-hover:h-full"
      ></span>
      <span
        class="ease absolute bottom-0 right-0 h-0 w-0 border-b-2 border-primary transition-all duration-200 group-hover:w-full"
      ></span>
      <span
        class="ease absolute bottom-0 left-0 h-0 w-0 border-l-2 border-primary transition-all duration-200 group-hover:h-full"
      ></span>
      <div class="flex flex-row max-sm:flex-col justify-between items-center">
        <div class="flex-row flex items-center gap-2">
          <img
            src="assets/ktpillar_logo.webp"
            alt="KT-Pillar Tech Logo"
            class="h-14"
          />
          <h3 class="text-xl font-medium">KT-Pillar Tech</h3>
        </div>
        <div class="items-center sm:pt-2">
          <p class="text-lg font-semibold">Full Stack Developer (Part-Time)</p>
          <p>Apr 2025 – Jul 2025</p>
        </div>
      </div>
      <ul class="pt-5 lg:ps-3 ps-0 list-none lg:list-disc">
        <li>
          <p>
            Built a <b>statistics dashboard</b> with dynamic filters,
            interactive charts, and data tables supporting inline row actions,
            improving <b>data accessibility</b> for end-users.
          </p>
        </li>
        <li>
          <p>
            Designed and implemented <b>reusable, customizable React
            components</b> using custom hooks to streamline development and
            enhance scalability.
          </p>
        </li>
        <li>
          <p>
            Developed and maintained <b>backend services</b>, including API
            endpoints, database migrations, and automated tests, ensuring
            <b>reliability</b> and smooth feature delivery.
          </p>
        </li>
        <li>
          <p>
            Implemented <b>report generation services</b> with <b>pdf-lib</b>,
            enabling on-demand PDF export of analytics and reports.
          </p>
        </li>
      </ul>
    </article>
  </section>
  } @placeholder {
  <div role="status" class="max-w-sm animate-pulse">
    <div class="h-2.5 w-48 mb-4 bg-base-content rounded-full"></div>
    <div class="h-2 max-w-[360px] mb-2.5 bg-base-content rounded-full"></div>
    <div class="h-2 mb-2.5 bg-base-content rounded-full"></div>
    <div class="h-2 max-w-[330px] mb-2.5 bg-base-content rounded-full"></div>
    <div class="h-2 max-w-[300px] mb-2.5 bg-base-content rounded-full"></div>
    <div class="h-2 max-w-[360px] bg-base-content rounded-full"></div>
    <span class="sr-only">Loading...</span>
  </div>
  }
</div>
